<html>
<i class="fa-brands fa-golang"></i>
<div class="blog-detail">
  <div class="blog-detail-container">
    <h1>{{detail.projectname}}</h1>
    <div class="author">{{detail.createdAt}} | {{detail.id}}</div>
    <img src="/images/blog-img.png" alt="detail" />
    <p>
      {{detail.description}}
    </p>
  </div>
</div>
</body>
</html>