body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbdbdb;
  padding: 0 40px;
}

.nav-left {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-left ul li {
    margin-right: 30px;
    font-size: 20px;
    list-style-type: none;
}
.nav-left a {
    text-decoration: none;
    color: black;
}

.nav-left img {
    margin-right: 50px;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-right a {
    background-color: black;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
  }


/* new navbar responsive */
#barsmenu{
  display:none;
}

.hamburger-nav-container{
  display: none;
}

.hamburger-nav-container a{
 display: flex;
 text-decoration: none;
 background-color: grey;
 padding: 5px;
 margin: 5px;
 border: 2px solid;
 justify-content: center;
 align-items: center;
}

.hamburger-nav-container .active-container{
  background-color: rgb(88, 38, 213);
  color: white;
}

@media only screen and (max-width:900px){
  .hidden-items {
    display: none;
  }
  #barsmenu{
    display: block;
  }
  .container-container{
    flex-direction: column;
  }
  .hamburger-button a {
      background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
  }
  
    .second-child {
      margin: 0 auto;
      order: 1;
    }
  
    .container-container {
      flex-direction: column;
      gap: 30px;
    }
  }
  

@media only screen and (max-width:550px){
  .hidden-items {
    display: none;
  }
  #barsmenu{
    display: block;
  }
  .container-container{
    flex-direction: column;
  }
  .hamburger-button a {
      background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
  }
  
}



/* end */


/* this is for styling index.html */
/* .container-index {
  margin: 50px;
  display:flex;
  
  
} */

.container-container {
  /* display:flex;
  border: 1px solid black;
  border-radius: 10px;
  padding:10px 20px; */

  /* flex-wrap: wrap; */
  /* flex: 100%; */
  border-radius: 10px;
  border: 1px solid black;
  background-size: cover;
  margin: 30px auto;
  padding: 40px 60px;
  display: flex;
  /* flex-direction: row; */
  gap: 100px;
  width: 80%;
  font-size: 15px;
  margin-top: 40px;
  
}

.first-child{
  flex:70%;
  line-height: 25px;
}

.first-child p {
  text-align: justify;
}

.contact-download {
  display:flex;
  align-items: center;
}

.button-contact{
  font-family: Oswald;
    font-size: 15px;
    background-color: green;
    width: 80px;
    padding: 2px 5px;
    border-radius: 11px;
    border: 15px red;
    transition: transform 0.3s ease;
    font-size: 18px;
}

.socialmedia a {
  margin-right: 20px;
  font-size: 50px;
  text-decoration: none;
}




.second-child{
  margin-top: 10px;
  justify-content: end;
  display: flex;
  max-width: 450px;
  text-align: center;
  flex: 30%;

}
.biodata{
  border: 1px solid rgb(7, 6, 6);
  border-radius: 10px;
  padding: 5px;
  width: 350px;
}


.biodata img{
  width: 100%;
}

.nickname-jobdesk {
  justify-content: center;
  text-align: center;
}

/* .contact-download button {
  border: 1px solid;
  background-color: green;
} */






  /* form */
form {
    width: 350px;
    margin: 100px auto;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-top: 5px;
}

textarea {
    resize: none;
    height: 100px;
  } 
  form div {
    margin-top: 10px;
  }
  
  form label {
    font-weight: bold;
  }
  
  .submitbutton button {
    background-color: black;
    padding: 8px 20px;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
            
  }
  .submitbutton {
    display:flex; 
    justify-content:flex-end;
  }


/* blog */

  